
body{
    margin: 0;
    overflow-x: hidden;
}
.jumbotron{
    background-size: cover;
    background-position: center;
    box-shadow: none;
}
.logo-img{
    margin-top: 10%;
   

}
.card-title{
  line-height: 70px;
  font-size: 50px;
  margin-bottom: -5px;

}

.mx-5 {
   line-height:0px;
   margin-top: 0;
   font-size: 12px;
   padding-top: 2px;
}
.mouse-click{
    padding-top: 10%;
    
}
.about{
    text-align: center;
    line-height: 3rem;
}

.about-text{
    font-weight: 400;
}
.jumbotron-fluid{
    color: white;
    text-align: center;
}
.display-4{
    font-size: 30px;
}
.services{
    font-weight: 400;
    line-height: 40px;
}
#what-we-do{
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
}
#hide-1, #hide-2, #hide-3{
    display: none;
    text-align: center;
}
.logo-design{
    cursor: pointer;
}
.column{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#our-work{
    padding-bottom: 2%;
    
}
#portfolio{
    font-weight: 500;

}
.column1, .column2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
    
    

}

.column1 img, .column2 img{
    width: 21%;
    padding: 1%;
}
#grey, #ontario-sec, #yellow, #movie, #good, #btn, #c-logo, #restaurant{
    display: none;
    background-color:rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 35px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 50%
   
}

#contact{
    font-size: 2vw;
    padding-bottom: 5%;
    
}
#name{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 0%;
     
}
#email{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    border-radius: 0%;
    
}

.column4{
  display: inline-flex;
  justify-content: space-evenly;
}
textarea{
    font-size: 15px;
    width: 76%;
    height: 17vw;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 1%;
    border: 1px solid white; 
    margin-bottom: 10px;
}
::placeholder{
    color: white;
}

#submit-btn{
  width: 20%;
  text-align: center;
  margin-left: 40%;
    
}

.footer{
    text-align: center;
    
}

