body{
    margin: 0;
}
.jumbotron{
    background-size: cover;
    background-position: center;
    box-shadow: none;
}
.logo-img{
    margin-top: 10%;

}
.card-title{
  line-height: 70px;
  font-size: 40px;

}

.mx-5{
   line-height:0;
   margin: auto;
   font-size: 12px;
   padding-top: 2px;
}
.mouse-click{
    padding-top: 150px;
}
.about{
    text-align: center;
    line-height: 3rem;
}

.jumbotron-fluid{
    color: white;
    text-align: center;
}
.display-4{
    font-size: 30px;
}
.services{
    font-weight: 400;
    line-height: 40px;
}